---
http_interactions:
- request:
    method: post
    uri: http://sc.quikstor.com/eComm3ServiceSS/QuikStorWebServiceSS.asmx
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://tempuri.org/"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:HelloWorldPassword><tns:csUser>DevUser</tns:csUser><tns:csPassword>DevPass</tns:csPassword><tns:csSiteName>QuikStorStorage</tns:csSiteName></tns:HelloWorldPassword></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://tempuri.org/HelloWorldPassword"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><HelloWorldPasswordResponse
        xmlns="http://tempuri.org/"><HelloWorldPasswordResult>Hello World </HelloWorldPasswordResult></HelloWorldPasswordResponse></soap:Body></soap:Envelope>
  recorded_at: Fri, 17 Nov 2017 17:03:56 GMT
- request:
    method: post
    uri: http://sc.quikstor.com/eComm3ServiceSS/QuikStorWebServiceSS.asmx
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://tempuri.org/"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:FacilityInfo><tns:csUser>DevUser</tns:csUser><tns:csPassword>DevPass</tns:csPassword><tns:csSiteName>QuikStorStorage</tns:csSiteName></tns:FacilityInfo></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://tempuri.org/FacilityInfo"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><FacilityInfoResponse
        xmlns="http://tempuri.org/"><FacilityInfoResult><Success>true</Success><csSiteName>QuikStor
        Storage</csSiteName><csSiteAddress>6613 Valjean Ave</csSiteAddress><csSiteCity>Van
        Nuys</csSiteCity><csSiteState>CA</csSiteState><csSiteZip>91406</csSiteZip><csSitePhone>800-321-1987</csSitePhone><csSiteEmail>sales@quikstor.com</csSiteEmail><csSMTPName>mail.quikstor.com</csSMTPName><csSMTPUser>ecomdemo</csSMTPUser><csSMTPPassword>qu1kst0r</csSMTPPassword><csSMTPNeedAuth>1</csSMTPNeedAuth><csAllowPaymentOneWeekBeforeAuction>999</csAllowPaymentOneWeekBeforeAuction><csAllowRentUnit>1</csAllowRentUnit><csAllowReserve>1</csAllowReserve><csAllowEditTenantInfo>1</csAllowEditTenantInfo><csAdvertising>N</csAdvertising><iAdvertisingDays>0</iAdvertisingDays><csSMTPPort>25</csSMTPPort><csSMTPSecureLogOn>false</csSMTPSecureLogOn><ST_ProcessorInfo><csProcessor>CISPPnP</csProcessor><csUserName>quikstorde</csUserName><csPassword>XXXX</csPassword><csPropertyCode
        /></ST_ProcessorInfo></FacilityInfoResult></FacilityInfoResponse></soap:Body></soap:Envelope>
  recorded_at: Fri, 17 Nov 2017 17:03:57 GMT
- request:
    method: post
    uri: http://sc.quikstor.com/eComm3ServiceSS/QuikStorWebServiceSS.asmx
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://tempuri.org/"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:AvailableUnitTypes><tns:csUser>DevUser</tns:csUser><tns:csPassword>DevPass</tns:csPassword><tns:csSiteName>QuikStorStorage</tns:csSiteName></tns:AvailableUnitTypes></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://tempuri.org/AvailableUnitTypes"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><AvailableUnitTypesResponse
        xmlns="http://tempuri.org/"><AvailableUnitTypesResult><AvailableUnitTypes_ST><iTypeId>6</iTypeId><csTypeDescription>12
        x 25, None door,15' high  1 Floor</csTypeDescription><dPrice>55</dPrice><Availability>0</Availability><csLastUnit
        /></AvailableUnitTypes_ST><AvailableUnitTypes_ST><iTypeId>7</iTypeId><csTypeDescription>5
        x 5, Swing door,8' high  1 Floor</csTypeDescription><dPrice>40</dPrice><Availability>0</Availability><csLastUnit
        /></AvailableUnitTypes_ST><AvailableUnitTypes_ST><iTypeId>8</iTypeId><csTypeDescription>6
        x 6, Swing door,8' high  1 Floor</csTypeDescription><dPrice>50</dPrice><Availability>0</Availability><csLastUnit
        /></AvailableUnitTypes_ST>[...]
- request:
    method: post
    uri: http://sc.quikstor.com/eComm3ServiceSS/QuikStorWebServiceSS.asmx
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://tempuri.org/"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:AvailableUnits><tns:csUser>DevUser</tns:csUser><tns:csPassword>DevPass</tns:csPassword><tns:csSiteName>QuikStorStorage</tns:csSiteName><tns:iTypeID>6</tns:iTypeID></tns:AvailableUnits></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://tempuri.org/AvailableUnits"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><AvailableUnitsResponse
        xmlns="http://tempuri.org/" /></soap:Body></soap:Envelope>
  recorded_at: Fri, 17 Nov 2017 17:03:58 GMT
[...]
- request:
    method: post
    uri: http://sc.quikstor.com/eComm3ServiceSS/QuikStorWebServiceSS.asmx
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://tempuri.org/"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:AvailableUnits><tns:csUser>DevUser</tns:csUser><tns:csPassword>DevPass</tns:csPassword><tns:csSiteName>QuikStorStorage</tns:csSiteName><tns:iTypeID>10</tns:iTypeID></tns:AvailableUnits></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://tempuri.org/AvailableUnits"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><AvailableUnitsResponse
        xmlns="http://tempuri.org/"><AvailableUnitsResult><AvailableUnits_ST><csUnitID>H35</csUnitID><dRent>70</dRent></AvailableUnits_ST></AvailableUnitsResult></AvailableUnitsResponse></soap:Body></soap:Envelope>
  recorded_at: Fri, 17 Nov 2017 17:04:00 GMT
[...]
- request:
    method: post
    uri: http://sc.quikstor.com/eComm3ServiceSS/QuikStorWebServiceSS.asmx
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://tempuri.org/"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:AvailableUnits><tns:csUser>DevUser</tns:csUser><tns:csPassword>DevPass</tns:csPassword><tns:csSiteName>QuikStorStorage</tns:csSiteName><tns:iTypeID>1000001</tns:iTypeID></tns:AvailableUnits></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://tempuri.org/AvailableUnits"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><AvailableUnitsResponse
        xmlns="http://tempuri.org/" /></soap:Body></soap:Envelope>
  recorded_at: Fri, 17 Nov 2017 17:04:12 GMT
recorded_with: VCR 3.0.3
